.line-cut {
    border-top: 2pt dashed black;
    width: 100%;
    height: 5px;
    margin: 20px 0;
    padding: 0;

}

table, th, td {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    overflow: hidden;
}

th {
    height: 28px;
    border-color: black;
}

.sign {
    text-align: left;
}

