<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
    $(document).ready(function () {

        var garagId = [[${garag.id}]];

        $("#personForm").validate({
            submitHandler: function (form) {
                promtReason(form, garagId);
            },
            errorPlacement: function (error, element) {
                validPlaceError(error, element);
            },
            success: function (label, element) {
                validPlaceSuccess(label, element);
            }
        });


        $('#personForm input').tooltipster({
            trigger: 'custom',
            onlyOne: false,
            position: 'top'
        });

        $(".deleteAssign").popConfirm({
            title: "Вы хотите удалить назначение к этому гаражу?",
            content: "",
            placement: "right",
            yesBtn: "Да",
            noBtn: "Нет"
        });

        searchPerson();
        messBuilder();

    });

    function resetForm() {
        $("#personForm input:not(#personId)").val('');
    }

</script>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title" th:text="'Смена владельца: ' + ${person.fio}"></h4>
        <input type="hidden" id="idPastPerson" th:value="${person.id}">
    </div>
    <div class="panel-body">
        <div class="center">
            <h4>Режим смены владельца</h4>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">

                <input class="magic-radio" type="radio" name="changeGaragAll" id="oneChange" value="false"
                       checked="checked">
                <label for="oneChange"> Сменить только у текущего гаража</label>
                <div th:if="${isManyGarag}">
                    <input class="magic-radio" type="radio" name="changeGaragAll" id="allChange" value="true">
                    <label for="allChange"> Сменить владельца у всех гаражей</label>
                </div>
            </div>
            <div class="col-md-6 center">
                <div id="deleteOwner" class="form-group input-group">
                    <input type="checkbox" id="deleteOldPerson" class="form-control"
                           name="fancy-checkbox-success" autocomplete="off" value="true" checked="checked"/>

                    <div class="[ btn-group ]">
                        <label for="deleteOldPerson" class="[ btn btn-danger ]">
                            <span class="[ glyphicon glyphicon-ok ]"></span>
                            <span> </span>
                        </label>
                        <label for="deleteOldPerson" class="[ btn btn-default ]">
                            Удалить прошлого владельца
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="center">
            <h4>Владелец</h4>
        </div>
        <div id="alertPanel" class="alert alert-info" role="alert" style="display:none; font-size:14pt"></div>
        <form id="personForm" th:action="@{/change}" th:object="${person}" method="post">
            <input type="hidden" th:field="*{id}" id="personId">
            <div id="addFormPersonDiv">
                <div class="col-md-6">
                    <div class="form-group input-group">
                        <label for="lastName" class="input-group-addon">Фамилия*</label>
                        <input type="text" th:field="*{lastName}" id="lastName" class="required form-control"/>
                    </div>
                    <div class="form-group input-group">
                        <label for="name" class="input-group-addon">Имя*</label>
                        <input type="text" th:field="*{name}" id="name" class="required form-control"/>

                    </div>
                    <div class="form-group input-group">
                        <label for="fatherName" class="input-group-addon">Отчество*</label>
                        <input type="text" th:field="*{fatherName}" id="fatherName" class="required form-control"/>
                    </div>
                    <div class="form-group input-group">
                        <label for="telephone" class="input-group-addon">Телефон*</label>
                        <input type="text" th:field="*{telephone}" id="telephone" class="required form-control"/>
                    </div>
                    <div class=" form-group input-group">
                        <label for="benefits" class="input-group-addon">Пенсионно удостоверение</label>
                        <input type="text" th:field="*{benefits}" id="benefits" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group input-group">
                        <label for="city" class="input-group-addon">Город</label>
                        <input type="text" th:field="*{city}" id="city" class="form-control"/>
                    </div>
                    <div class="form-group input-group">
                        <label for="street" class="input-group-addon">Улица</label>
                        <input type="text" th:field="*{street}" id="street" class="form-control"/>
                    </div>
                    <div class="form-group input-group">
                        <label for="home" class="input-group-addon">Дом</label>
                        <input type="text" th:field="*{home}" id="home" class="form-control"/>
                    </div>
                    <div class="form-group input-group">
                        <label for="apartment" class="input-group-addon">Квартира</label>
                        <input type="text" th:field="*{apartment}" id="apartment" class="form-control"/>
                    </div>
                    <div class="form-group input-group">
                        <input type="checkbox" th:field="*{memberBoard}" id="memberBoard"
                               class="form-control"
                               name="fancy-checkbox-success" autocomplete="off"/>
                        <div class="[ btn-group ]">
                            <label for="memberBoard" class="[ btn btn-info ]">
                                <span class="[ glyphicon glyphicon-ok ]"></span>
                                <span> </span>
                            </label>
                            <label for="memberBoard" class="[ btn btn-default ]">
                                Член правления
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="searchDivPerson">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" id="searchPersonBtn"><span
                            class="glyphicon glyphicon-search"></span> Найти владельца
                    </button>
                </div>

                <div class="row">
                    <div id="searchFormDiv" class="col-md-6" style=" display:none;">
                        <div class="input-group" id="searchDiv">
                            <label for="searchPerson">Владелец</label>

                            <div>
                                <input id="searchPerson" type="text" rel="tooltip"
                                       data-original-title="Введите более 3 символов" onkeypress="hideTooltip();"
                                       onclick="hideTooltip();" class="form-control"/>
                                <button type="button" id="buttonSearch"
                                        onclick="loadOwner($('#searchPerson').val());"
                                        class="btn btn-warning buttonCheck">
                                    <span class="glyphicon glyphicon-search"></span> Найти
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="personResults" class="col-md-6">

                    </div>
                </div>
            </div>
            <hr>
            <div style="text-align: center" class="col-md-12">
                <button id="buttonAdd" type="submit" class="btn btn-success buttonForm">
                    <span class="glyphicon glyphicon-ok"></span> Сохранить
                </button>
                <button type="reset" onclick="closeForm();" class="btn btn-danger buttonForm">
                    <span class="glyphicon glyphicon-remove"></span> Закрыть
                </button>
                <button type="button" onclick="resetForm();" class="btn btn-default buttonForm">Очистить
                </button>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="promtModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="$('#reason').val('')"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Введите причину смены владельца?</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="reason" name="reason" class=" form-control"/>
                    <span class="help-block"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#reason').val('')">
                    <span class="glyphicon glyphicon-remove"></span> Отмена
                </button>
                <button type="submit" class="btn btn-success" id="applyBtn">
                    <span class="glyphicon glyphicon-ok"></span> Применить
                </button>
            </div>
        </div>
    </div>
</div>
</html>





