<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/js/typeahead.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#costTypeForm").validate({
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    success: function (html) {
                        $(".cooperateTable").DataTable().ajax.reload(null, false);
                        showSuccessMessage(html);
                        closeForm();
                        return false;
                    },
                    error: function (xhr) {
                        if (xhr.status == 409) {
                            showErrorMessage(xhr.responseText);
                        }
                    }
                });
            },
            errorPlacement: function (error, element) {
                validError(error, element);
            },
            success: function (label, element) {
                validSuccess(label, element);
            }
        });
    });

</script>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">Режим изменения типа расходов</h4>
    </div>
    <div class="panel-body">
        <form id="costTypeForm" action="#" th:action="@{/saveType}" th:object="${costType}" method="post">
            <input type="hidden" th:field="*{id}" id="id">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="typeName">Наименование*</label>
                        <input type="text" th:field="*{name}" id="typeName" class="required form-control"/>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div style="text-align: left; margin-top:20px" class="col-md-12">
                <button id="buttonAdd" class="btn btn-success buttonForm">
                    <span class="glyphicon glyphicon-ok"></span> Сохранить
                </button>

                <button name="reset" onclick="closeForm('cost'); $('#addCost').show();"
                        class="btn btn-danger buttonForm"><span class="glyphicon glyphicon-remove"></span> Закрыть
                </button>
            </div>
    </div>
</div>
</html>

