<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/js/typeahead.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#costForm").validate({
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    success: function (html) {
                        $(".cooperateTable").DataTable().ajax.reload(null, false);
                        showSuccessMessage(html);
                        closeForm();
                        return false;
                    },
                    error: function (xhr) {
                        if (xhr.status == 409) {
                            showErrorMessage(xhr.responseText);
                        }
                    }
                });
            },
            errorPlacement: function (error, element) {
                validError(error, element);
            },
            success: function (label, element) {
                validSuccess(label, element);
            }
        });

        $("#date").datepicker({
            format: "dd.mm.yyyy",
            endDate: "-0d",
            language: 'ru',
            todayBtn: 'linked',
            todayHighlight: true
        }).on('changeDate', function () {
            $(this).valid();
        });

        var costTypeData = [];
        var costTypeIds = new Object();

        function getCostType() {
            $.post("getTypes", function (data) {
                costTypeData = $.map(data, function (type) {
                    costTypeIds[type.name] = type.id;
                    return type.name;
                });
                costType.clear();
                costType.add(costTypeData);
            });
        }

        getCostType();

        var costType = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: costTypeData
        });

        $('#typeName').typeahead({
                minLength: 3
            },
            {
                limit: 15,
                name: 'costType',
                source: costType
            }).bind('typeahead:select', function (ev, suggestion) {
            $("#typeId").val(costTypeIds[suggestion]);
            $("#statusType").text("Существующий тип").attr('class', 'label label-warning');
        }).keypress(function (e) {
            $("#statusType").text("Новый тип").attr('class', 'label label-primary');
            $("#typeId").val("");
        });
    });

</script>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">Режим добавления расходов</h4>
    </div>
    <div class="panel-body">
        <form id="costForm" action="#" th:action="@{/saveCost}" th:object="${cost}" method="post">
            <input type="hidden" th:field="*{id}" id="id">
            <div class="divider"><h4> Расходная накладная: </h4></div>
            <div class="row">
                <div class="col-md-3">
                    <input type="hidden" th:field="*{typeId}" id="typeId" class="select-typehead">
                    <div class="form-group">
                        <label for="typeName">Наименование*</label>
                        <input type="text" th:field="*{typeName}" id="typeName" placeholder="Найти"
                               class="form-control typeahead"/>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-md-1 status">
                    <h2><span id="statusType" class="label label-primary">Новый тип</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="date">Дата*</label>
                        <input type="text" th:field="*{date}" id="date" class="required form-control dateRU"/>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="date">Сумма/Руб*</label>
                        <input type="text" th:field="*{money}" id="money" class="required digits form-control"/>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Дополнительная информация</label>
                        <input type="text" th:field="*{description}" id="description" class="form-control"/>
                    </div>
                </div>
            </div>
            <div style="text-align: center; margin-top:20px" class="col-md-12">
                <button id="buttonAdd" class="btn btn-success buttonForm">
                    <span class="glyphicon glyphicon-ok"></span> Сохранить
                </button>

                <button name="reset" onclick="closeForm('cost'); $('#addCost').show();"
                        class="btn btn-danger buttonForm"><span class="glyphicon glyphicon-remove"></span> Закрыть
                </button>
            </div>
        </form>
    </div>
</div>
</html>

