<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header th:replace="header.html :: head"></header>
<div th:replace="navbar.html :: div"></div>
<script th:inline="javascript">
    $(document).ready(function () {

        var setSeries = [[${setSeries}]];
        var garagId = [[${garagId}]];

        $.scrollUp();

        $('.cooperateTable').DataTable({
            "order": [
                [1, 'asc']
            ],
            "ajax": {
                url: "allGarag",
                data: {
                    garag: garagId,
                    setSeries: setSeries
                }
            },
            "fnCreatedRow":
                function (nRow, aData) {
                    $(nRow).attr('id', 'garagTR_' + aData.id);
                },
            "fnDrawCallback":
                function () {
                    $('a.deleteButton').off("click");
                    $('a.deleteButton').popConfirm({
                        title: "Удалить?",
                        content: "",
                        placement: "bottom",
                        yesBtn: "Да",
                        noBtn: "Нет"
                    });
                    var oSettings = this.fnSettings();
                    var iTotalRecords = oSettings.fnRecordsTotal();
                    $("#count").html(iTotalRecords);
                },
            "columns":
                [
                    {data: "number", "visible": false, orderable: false},
                    {
                        data: "number", "searchable": false, "render": function (data, type, full) {
                            return '<a href=\"#\" onclick=\"initTR(' + full.id + ');editEntity(' + full.id + ',\'garag\')\">' + full.number + '</a>'
                        }, 'title': 'Гараж', type: 'natural', className: "series"
                    },
                    {
                        "render": function (data, type, full) {
                            var vip = '';
                            if (full.person != null) {
                                if (full.person.memberBoard) {
                                    vip = ' <span class="label label-warning">ЧП</span>';
                                }
                                return '<a href=\"#\" onclick=\"initTR(' + full.id + '); editEntity(' + full.person.id + ',\'person\')\">' + full.person.fio + vip + '</a>'
                            }
                            return ""
                        }, "searchable": false, 'title': 'ФИО'
                    },
                    {"data": "person.telephone", "defaultContent": "", "searchable": false, 'title': 'Телефон'},
                    {"data": "person.fullAddress", "defaultContent": "", "searchable": false, 'title': 'Адрес'},
                    {"data": "person.benefits", "defaultContent": "", "searchable": false, 'title': 'Льготы'},
                    {
                        'title': 'Действия',
                        "searchable": false,
                        className: "actionBtn",
                        "render": function (data, type, full) {
                            var del = '<a href="#" class="btnTable deleteButton  btn btn-danger btn-sm" title="Удалить гараж" data-placement="top" id="deleteGarag_' + full.id +
                                '" onclick="deleteEntity(' + full.id + ',\'deleteGarag\');"><span class="glyphicon glyphicon-trash"/></span></a>'
                            var actionsBtn = "";
                            if (full.person != null) {
                                actionsBtn = "<a href=\"#\" class=\"btnTable btn btn-info btn-sm\" title='Информация' onclick=\"infGarag(" + full.id +
                                    ");\"><span class=\"glyphicon glyphicon-comment\"/></span></a>" +
                                    "<a href=\"#\" class=\"btnTable btn btn-primary btn-sm\"  title=\"Сменить владельца\" data-placement=\"top\" onclick=\"initTR(" + full.id + ");changePerson(" + full.id + "," + full.person.id +
                                    ');"><span class=\"glyphicon glyphicon-transfer\"/></span></a>';
                            }
                            return actionsBtn + del;
                        }
                    }
                ]
        });

    });


</script>
<style>
    th, td {
        font-size: 15px
    }
</style>
<div class="container-fluid">
    <button class="btn btn-success addBtn" onclick="saveEntity('garag')">
        <span class="glyphicon glyphicon-plus"></span> Добавить гараж
    </button>
    <div id="formPanel"></div>
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs nav-justified">
                <li th:each="number: ${series}" role='presentation' th:classappend="${setSeries eq number ? 'active':''}">
                    <a class="seriesLink" th:href="@{/garagPage(series=${number})}" th:text="${number}"></a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <h3 th:text="'Список гаражей ' + ${setSeries} + ' ряда'"></h3>
            Общее количество: <span id="count" class="badge"></span>
            <br>
            <table class="table table-striped table-bordered cooperateTable" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>
</html>