<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>ГК №23</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/cooperate.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link type="text/css" th:href="@{/css/datepicker.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/dataTables.bootstrap.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/tooltipster.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/image.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/bootstrap-modal.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/levelNav.css}" rel="stylesheet"/>
    <link type="text/css" th:href="@{/css/magic-check.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/validate.customMethod.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.form.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.popconfirm.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.tooltipster.js}"></script>
    <script type="text/javascript" th:src="@{/js/validate.messages_ru.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.scrollUp.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-modalmanager.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/formatted-numbers.js}"></script>
    <script type="text/javascript" th:src="@{/js/de-date.js}"></script>
    <script type="text/javascript" th:src="@{/js/locale/bootstrap-datepicker.ru.js}"></script>
    <script type="text/javascript" th:src="@{/js/cooperate.js}"></script>
    <script type="text/javascript">
        $(document).ajaxStart(function () {
            $('html').css({'cursor': 'wait'});
        });

        $(document).ajaxStop(function () {
            $('html').css({'cursor': 'default'});
        });

        $.extend($.fn.dataTable.defaults, {
            "language": {
                "url": '/js/locale/dataTablesRu.json'
            }
        });

    </script>
</head>


