<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Информация по гаражу</title>
    <link type="text/css" th:href="@{/css/order.css}" rel="stylesheet"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th colspan="10"><h2>Информация по гаражу</h2></th>
    </tr>
    <tr>
        <th colspan="3" th:text="'Дата: ' + ${now}"></th>
        <th colspan="2" th:text="'Ряд: ' + ${garag.series} + ' Гараж: ' + ${garag.number}"></th>
        <th colspan="5" th:text="'ФИО: ' + ${garag.person.fio}"></th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <th colspan="10">Долги</th>
    </tr>
    <tr>
        <th colspan="10" th:text="'Долги прошлых лет: ' + ${garag.oldContribute} + ' руб.'"></th>
    </tr>
    <tr>
        <th>Год</th>
        <th colspan="2">Членский взнос</th>
        <th>Аренда земли</th>
        <th>Целевой взнос</th>
        <th colspan="2">Пени</th>
        <th colspan="3">Годовой долг</th>

    </tr>
    <tr th:each="c: ${contributions}">
        <td th:text="${c.year}"></td>
        <td colspan="2" th:text="${c.contribute} + ' руб.'"></td>
        <td th:text="${c.contLand} + ' руб.'"></td>
        <td th:text="${c.contTarget} + ' руб.'"></td>
        <td colspan="2" th:text="${c.fines} + ' руб.'"></td>
        <td colspan="3" th:text="${c.sum} + ' руб.'"></td>
    </tr>
    <tr>
        <th colspan="10" th:text="'Итого: ' + ${contributionAll} + ' руб.'"></th>
    </tr>
    <tr>
        <th colspan="10">Оплаты</th>
    </tr>
    <tr>
        <th>Дата</th>
        <th>№</th>
        <th>Сумма</th>
        <th>Членский взнос</th>
        <th>Аренда земли</th>
        <th>Целевой взнос</th>
        <th>Дополнительный взнос</th>
        <th>Пени</th>
        <th>Долги прошлых лет</th>
        <th>Оставшиеся средства</th>
    </tr>
    <tr th:each="p: ${payments}">
        <td th:text="${p.datePayment}"></td>
        <td th:text="${p.number}"></td>
        <td th:text="${p.total} + ' руб.'"></td>
        <td th:text="${p.contributePay} + ' руб.'"></td>
        <td th:text="${p.contLandPay} + ' руб.'"></td>
        <td th:text="${p.contTargetPay} + ' руб.'"></td>
        <td th:text="${p.additionallyPay} + ' руб.'"></td>
        <td th:text="${p.finesPay} + ' руб.'"></td>
        <td th:text="${p.oldContributePay} + ' руб.'"></td>
        <td th:text="${p.pay} + ' руб.'"></td>
    </tr>
    </tbody>
</table>
</body>
</html>