<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div id="informationPanel" class="panel with-nav-tabs panel-success">
    <div class="panel-heading">
        <div class="panel-heading">
            <ul class="nav nav-tabs nav-justified">
                <li th:each="item: ${listGarag}" role='presentation' th:classappend="${garag.id eq item.id ? 'active':''}">
                    <a class="seriesLink" th:attr="onclick=|infoGarags('${garag.person.id}', '${item.id}')|" th:text="'Гараж № '+ ${item.series} + '-' + ${item.number}"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <input id="idGarag" type="hidden" th:value="${garag.id}">
        <h4 class="modal-title" th:text="'Информация: '+ ${garag.fullName}"></h4>
        <h4 th:text="${fio}"><span th:if="${garag.person.memberBoard}" class="label label-warning">Член правления</span>
        </h4>
        <div th:if="${not garag.additionalInformation.isEmpty()}" class="alert alert-info addingInf"
             role="alert" th:text="${garag.additionalInformation}"></div>
        <h4><b>Долги</b></h4>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Год</th>
                <th>Годовой долг</th>
                <th>Членский взнос</th>
                <th>Аренда земли</th>
                <th>Целевой взнос</th>
                <th>Пени</th>
            </tr>
            </thead>
            <tr th:each="cont: ${contributionsList}">
                <td th:text="${cont.year}"></td>
                <td th:text="${cont.sum} + ' руб.'"></td>
                <td th:text="${cont.contribute} + ' руб.'"></td>
                <td th:text="${cont.contLand} + ' руб.'">
                    <span th:if="${cont.benefitsOn}" class="glyphicon glyphicon-heart-empty"></span>
                </td>
                <td th:text="${cont.contTarget} + ' руб.'"></td>
                <td th:text="${cont.fines} + ' руб.'">
                    <span th:if="${cont.finesOn}" class="glyphicon glyphicon-fire"></span>
                </td>
            </tr>
            <tr>
                <th>Итого:</th>
                <th th:text="${total} + ' руб.'"></th>
                <th th:text="${contributionSum.contribute} + ' руб.'"></th>
                <th th:text="${contributionSum.contLand} + ' руб.'"></th>
                <th th:text="${contributionSum.contTarget} + ' руб.'"></th>
                <th th:text="${contributionSum.fines} + ' руб.'"></th>
            </tr>
        </table>

        <span th:if="${garag.oldContribute > 0}" th:text="'Долги прошлых лет: '+${garag.oldContribute}+' руб.'"
              class="label label-danger"></span>

        <h3><b th:text="'Общий долг: ' + ${total} + ' руб.'"></b></h3>
        <hr>
        <h4><b>Платежи</b></h4>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Дата</th>
                <th>№</th>
                <th>Сумма</th>
                <th>Членский взнос</th>
                <th>Аренда земли</th>
                <th>Целевой взнос</th>
                <th>Дополнительный взнос</th>
                <th>Пени</th>
                <th>Долги прошлых лет</th>
                <th>Оставшиеся средства</th>
                <th>Печать чека</th>
            </tr>
            </thead>
            <tr th:each="p: ${payments}">
                <td th:text="${p.datePayment}"></td>
                <td th:text="${p.number}"></td>
                <td th:text="${p.total} + ' руб.'"></td>
                <td th:text="${p.contributePay} + ' руб.'"></td>
                <td th:text="${p.contLandPay} + ' руб.'"></td>
                <td th:text="${p.contTargetPay} + ' руб.'"></td>
                <td th:text="${p.additionallyPay} + ' руб.'"></td>
                <td th:text="${p.finesPay} + ' руб.'"></td>
                <td th:text="${p.oldContributePay} + ' руб.'"></td>
                <td th:text="${p.pay} + ' руб.'"></td>
                <td align="center"><a th:href="@{/printOrder/{id}(id = ${p.id})}" target="_blank">
                    <span class="glyphicon glyphicon-print"></span></a></td>
            </tr>
        </table>
        <div th:if="${garag.historyViewList != null and !garag.historyViewList.isEmpty()}" class="pull-left">
            <button id="historyBtn" class="btn btn-info" type="button"
                    onclick="getHistoryGarag($('#idGarag').val()); return false">
                <span class="glyphicon glyphicon-time"></span> История
            </button>
        </div>

        <div class="pull-right">
            <button class="btn btn-success" type="button" onclick="payGarag($('#idGarag').val(),'default')">
                <span class="glyphicon glyphicon-shopping-cart"></span> Оплатить
            </button>
            <button id="openAddingCount" class="btn btn-warning" onclick="payGarag($('#idGarag').val(),'adding')">
                <span class="glyphicon glyphicon-shopping-cart"></span> Дополнительный взнос
            </button>
            <a th:href="@{/infPrint/{id}(id = ${garag.id})}" target="_blank" class="btn btn-primary"><span
                    class="glyphicon glyphicon-print"></span>
                Распечатать
            </a>
            <button type="button" class="btn btn-default" onclick="closeForm()"><span
                    class="glyphicon glyphicon-remove"></span> Закрыть
            </button>
        </div>

    </div>
</div>
<div id="reasonList"></div> 