<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header th:replace="header.html :: head"></header>
<div th:replace="navbar.html :: div"></div>
<script th:inline="javascript">
    $(function () {
        $.scrollUp();

        $('.cooperateTable').DataTable({
            "order": [
                [0, 'asc']
            ],
            "ajax": "members",
            "fnCreatedRow": function (nRow, aData) {
                $(nRow).attr('id', 'personTR_' + aData.id);
            },
            "columns": [
                {"render": function (data, type, full) {
                        return '<a href=\"#\" onclick=\"editEntity(' + full.id +',\'person\')\">' + full.fio + '</a>'
                    }, 'title': 'ФИО'
                },
                {"data": "telephone", 'title': 'Телефон', "searchable": false},
                {"data": "fullAddress", 'title': 'Адрес', "searchable": false},
                {"data": "benefits", 'title': 'Льготы', "searchable": false}
            ]
        });

    });

</script>
<div class="container-fluid">
    <div id="formPanel"></div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Члены правления ГК</h4>
        </div>
        <div class="panel-body">
            <table id="membersTable" class="table table-striped table-bordered cooperateTable" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>