<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
    var max = [[${max}]];
    var contribution = [[${contribution}]];

    $(document).ready(function () {

        $('#formModalContribute').modal({
            backdrop: "static"
        });


        $("#contributionForm").validate({
            submitHandler: function (form) {
                $('#contributionForm input.number').each(function () {
                    var val = $(this).val();
                    if (val.length == 0) {
                        $(this).val(0);
                    }
                });
                $(form).ajaxSubmit({
                    success: function (html) {
                        $('#formModalContribute').modal('hide');
                        showSuccessMessage(html);
                        return false;
                    },
                    error: function (xhr) {
                        if (xhr.status == 409) {
                            showErrorMessage(xhr.responseText);
                        }
                    }
                });
            },
            rules: {
                contTarget: {
                    max: max.contTargetMax
                }

            },
            errorPlacement: function (error, element) {
                validPlaceError(error, element);
            },
            success: function (label, element) {
                validPlaceSuccess(label, element);
            }
        });

        $("#contributionForm input[type=text]").focusout(function () {
            $("#contributionForm input[type=text]").each(function (key, value) {
                $(value).val($(value).val().trim())
            })
        })


        $("#memberBoardOn").on("change", function () {
            if ($("#memberBoardOn").prop("checked")) {
                $("#memberBoardOnHide").val(0);
                $(".maxContribute").text("MAX 0 руб.");
            } else {
                $("#memberBoardOnHide").val(max.contributeMax);
                $(".maxContribute").text("MAX " + max.contributeMax + " руб.");
            }
        });


        $("#benefitsOn").on("click", function () {
            if ($("#benefitsOn:checked").val()) {
                $("#benefitsOnHide").val(max.contLandMax / 2);
                $(".maxLand").html("MAX " + max.contLandMax / 2 + " руб.");

            } else {
                $("#benefitsOnHide").val(max.contLandMax);
                $(".maxLand").html("MAX " + max.contLandMax + " руб.");

            }
        });

        $('#formModalContribute').on('hidden.bs.modal', function () {
            $('form input').tooltipster('hide');
        });


        $('#contributionForm input').tooltipster({
            trigger: 'custom',
            onlyOne: false,
            position: 'top'
        });

        $("#finesLastUpdate").datepicker({
            format: "dd.mm.yyyy",
            defaultViewDate: {year: contribution.year, month: 6, day: 1},
            startDate: '-10y',
            endDate: "-0d",
            language: 'ru',
            todayBtn: 'linked',
            todayHighlight: true
        }).on('changeDate', function () {
            $(this).valid();
        });

    })

    function setNextYear() {
        $("#finesLastUpdate").val("01.01." + (contribution.year + 1));
        $("#finesOn").prop("checked", true);
    }

    function fullSetDebt() {
        $("#contribute").val(max.contributeMax);
        $("#contTarget").val(max.contTargetMax);
        if ($("#benefitsOn:checked").val()) {
            $("#contLand").val(max.contLandMax / 2);
        } else {
            $("#contLand").val(max.contLandMax);
        }
        $("#finesLastUpdate").val("01.07." + contribution.year);
        $("#finesOn").prop("checked", true);
        if ($("#memberBoardOn").prop("checked")) {
            $("#contribute").val(0);
        }
    }
</script>

<!-- Modal -->
<div id="formModalContribute" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:700px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" th:text="'Введите долг за ' + ${contribution.year} +' год'"></h4>
                <span id="membersPerson" class="label label-warning"
                      th:if="${garag.person.memberBoard}">Член правления</span>
            </div>
            <form id="contributionForm" th:action="@{/saveContribute}" th:object="${contribution}" method="post">
                <input type="hidden" id="idGarag" name="idGarag" th:value="${garag.id}">
                <div class="modal-body">
                    <input type="hidden" th:field="*{id}" id="id">
                    <input type="hidden" th:field="*{year}" id="year">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group input-group">
                                <label for="contribute" class="input-group-addon">Членский взнос</label>
                                <input type="text" th:field="*{contribute}" id="contribute"
                                       class="number form-control maxContributeVal"/>
                                <span class="input-group-addon">руб.</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span class="maxValueCont maxContribute"
                                  th:text="${garag.person.memberBoard} ?
                                   'MAX 0 руб.' : 'MAX ' + ${max.contributeMax} + ' руб.'">
                            </span>
                            <input type="hidden" id="memberBoardOnHide"
                                   th:value="${garag.person.memberBoard} ? '0' : ${max.contributeMax}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group input-group">
                                <label for="contLand" class="input-group-addon">Аренда земли</label>
                                <input type="text" th:field="*{contLand}" id="contLand"
                                       class="number form-control maxLandVal"/>
                                <span class="input-group-addon">руб.</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span class="maxValueCont maxLand"
                                  th:text="${contribution.benefitsOn} ?
                                   'MAX ' + ${max.contLandMax/2} + ' руб.'
                                   : 'MAX ' + ${max.contLandMax} + ' руб.'">
                            </span>
                        </div>
                        <input type="hidden" id="benefitsOnHide"
                               th:value="${contribution.benefitsOn} ? ${max.contLandMax/2} : ${max.contLandMax}">
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group input-group">
                                <label for="contTarget" class="input-group-addon">Целевой взнос</label>
                                <input type="text" th:field="*{contTarget}" id="contTarget"
                                       class="number form-control"/>
                                <span class="input-group-addon">руб.</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <span class="maxValueCont" th:text="'MAX ' + ${max.contTargetMax} + ' руб.'"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group input-group">
                                <label for="fines" class="input-group-addon">Пени</label>
                                <input type="text" th:field="*{fines}" id="fines" class="number form-control"/>
                                <span class="input-group-addon">руб.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group input-group">
                                <label for="finesLastUpdate" class="input-group-addon">Дата обновления пеней</label>
                                <input type="text" th:field="*{finesLastUpdate}" id="finesLastUpdate"
                                       class=" dateRU form-control"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <button type="button" class="btn btn-success btnNextYear" onclick="setNextYear()"
                                        title="Установить дату пеней на начало следующего года">
                                    <span class="glyphicon glyphicon-tree-conifer"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group input-group">
                                <input type="checkbox" th:field="*{finesOn}" id="finesOn"
                                       class="form-control"
                                       name="fancy-checkbox-success" autocomplete="off"/>
                                <div class="[ btn-group ]">
                                    <label for="finesOn" class="[ btn btn-info ]">
                                        <span class="[ glyphicon glyphicon-ok ]"></span>
                                        <span> </span>
                                    </label>
                                    <label for="finesOn" class="[ btn btn-default ]">
                                        Включить пени
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group input-group">
                                <input type="checkbox" th:field="*{benefitsOn}" id="benefitsOn"
                                       class="form-control"
                                       name="fancy-checkbox-success" autocomplete="off"/>
                                <div class="[ btn-group ]">
                                    <label for="benefitsOn" class="[ btn btn-info ]">
                                        <span class="[ glyphicon glyphicon-ok ]"></span>
                                        <span> </span>
                                    </label>
                                    <label for="benefitsOn" class="[ btn btn-default ]">
                                        Льготный период
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group input-group">
                                <input type="checkbox" th:field="*{memberBoardOn}" id="memberBoardOn"
                                       class="form-control"
                                       name="fancy-checkbox-success" autocomplete="off"/>
                                <div class="[ btn-group ]">
                                    <label for="memberBoardOn" class="[ btn btn-info ]">
                                        <span class="[ glyphicon glyphicon-ok ]"></span>
                                        <span> </span>
                                    </label>
                                    <label for="memberBoardOn" class="[ btn btn-default ]">
                                        Член правления
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" align="center">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span>
                            Сохранить
                        </button>
                        <button type="button" class="btn btn-danger" onclick="fullSetDebt()"><span
                                class="glyphicon glyphicon-signal"></span> Полностью
                        </button>
                        <button type="button" data-dismiss="modal" class="btn btn-default"><span
                                class="glyphicon glyphicon-remove"></span> Закрыть
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
</html>