<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Чек</title>
    <link type="text/css" th:href="@{/css/order.css}" rel="stylesheet"/>
</head>
<body>

<table>
    <thead>
    <tr>
        <th th:text="'Чек № ' + ${pay.number}"></th>
        <th colspan="3" th:text="'Дата: ' + ${pay.datePayment}"></th>
<!--        <th th:text="'Ряд: ' + ${pay.garag.series} + 'Гараж: ' + ${pay.garag.number}"></th>-->
        <th colspan="3" th:text="'ФИО:' + ${pay.fio}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th colspan="8">Сумма платежа распределена на:</th>
    </tr>
    <tr>
        <th>Членский взнос</th>
        <th>Аренда земли</th>
        <th>Целевой взнос</th>
        <th colspan="2">Дополнительный взнос</th>
        <th>Пени</th>
        <th>Долги прошлых лет</th>
        <th>Оставшиеся средства</th>

    <tr>
        <td th:text="${pay.contributePay} +' руб.'"></td>
        <td th:text="${pay.contLandPay} +' руб.'"></td>
        <td th:text="${pay.contTargetPay} +' руб.'"></td>
        <td colspan="2" th:text="${pay.additionallyPay} +' руб.'"></td>
        <td th:text="${pay.finesPay} +' руб.'"></td>
        <td th:text="${pay.oldContributePay} +' руб.'"></td>
        <td th:text="${pay.pay} +' руб.'"></td>
    </tr>
    <tr>
        <!--<th colspan="3">Сумма платежа:${pay.contributePay+pay.contLandPay+
            pay.contTargetPay+pay.additionallyPay+pay.finesPay+pay.oldContributePay+pay.pay} рублей
        </th>-->
<!--        <th colspan="3" th:text="'Сумма платежа:' + ${pay.allPay} + 'рублей'">-->
        </th>
        <th colspan="5" th:text="'Сумма долга после оплаты: ' + ${pay.debtPastPay} +' рублей'"></th>
    </tr>
    <tr>
        <td colspan="5" class="sign">
            Подпись плательщика:
        </td>
        <td colspan="3" class="sign">
            Подпись кассира:
            <div style="text-align:right; float:right;">
                М.П.
            </div>
        </td>
    </tr>
    </tbody>

</table>
<div class="line-cut"></div>
<table>
    <thead>
    <tr>
        <th th:text="'Чек № ' + ${pay.number}"></th>
        <th colspan="3" th:text="'Дата: ' + ${pay.datePayment}"></th>
<!--        <th th:text="'Ряд: ' + ${pay.garag.series} + 'Гараж: ' + ${pay.garag.number}"></th>-->
        <th colspan="3" th:text="'ФИО:' + ${pay.fio}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th colspan="8">Сумма платежа распределена на:</th>
    </tr>
    <tr>
        <th>Членский взнос</th>
        <th>Аренда земли</th>
        <th>Целевой взнос</th>
        <th colspan="2">Дополнительный взнос</th>
        <th>Пени</th>
        <th>Долги прошлых лет</th>
        <th>Оставшиеся средства</th>

    <tr>
        <td th:text="${pay.contributePay} +' руб.'"></td>
        <td th:text="${pay.contLandPay} +' руб.'"></td>
        <td th:text="${pay.contTargetPay} +' руб.'"></td>
        <td colspan="2" th:text="${pay.additionallyPay} +' руб.'"></td>
        <td th:text="${pay.finesPay} +' руб.'"></td>
        <td th:text="${pay.oldContributePay} +' руб.'"></td>
        <td th:text="${pay.pay} +' руб.'"></td>
    </tr>
    <tr>
        <!--<th colspan="3">Сумма платежа:${pay.contributePay+pay.contLandPay+
            pay.contTargetPay+pay.additionallyPay+pay.finesPay+pay.oldContributePay+pay.pay} рублей
        </th>-->
<!--        <th colspan="3" th:text="'Сумма платежа:' + ${pay.allPay} + 'рублей'">-->
        </th>
        <th colspan="5" th:text="'Сумма долга после оплаты: ' + ${pay.debtPastPay} +' рублей'"></th>
    </tr>
    <tr>
        <td colspan="5" class="sign">
            Подпись плательщика:
        </td>
        <td colspan="3" class="sign">
            Подпись кассира:
            <div style="text-align:right; float:right;">
                М.П.
            </div>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>