<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header th:replace="header.html :: head"></header>
<div th:replace="navbar.html :: div"></div>
<script th:inline="javascript">

    $(document).ready(function () {
        var setYear = [[${setYear}]];
        $.scrollUp();

        var now = new Date();
        $("#year").val(now.getFullYear());

        $('#paymentTable').DataTable({
            "order": [
                [0, 'desc']
            ],
            "ajax": {
                url: "payments",
                data: {
                    setYear: setYear
                }
            },
            "fnDrawCallback": function () {
                $('a.deleteButton').off("click");
                $('a.deleteButton').popConfirm({
                    title: "Удалить?",
                    content: "",
                    placement: "bottom",
                    yesBtn: "Да",
                    noBtn: "Нет"
                });
                var oSettings = this.fnSettings();
                var iTotalRecords = oSettings.fnRecordsTotal();
                $("#count").html(iTotalRecords);
            },
            "columns": [
                {"data": "number", 'title': 'Платеж', className: "series"},
                {"data": "datePayment", 'title': 'Дата', type: 'de_date', targets: 1, "searchable": false},
                {"data": "fullNameGarag", 'title': 'Гараж', "searchable": false},
                {"data": "fio", 'title': 'ФИО'},
                {"data": "total", 'title': 'Сумма', className: "pay_style", "searchable": false},
                {
                    'title': 'Действия',
                    className: "btnPayments",
                    "searchable": false,
                    "render": function (data, type, full) {
                        var del = "<a href=\"#\" class=\"deleteButton btn btn-danger btn-sm\" data-placement=\"top\" id=\"deletePayment_" + full.id +
                            "\" onclick=\"deletePayment('" + full.id + "');\"><span class=\"glyphicon glyphicon-trash\"/></span></a>"
                        return "<a href=\"printOrder/" + full.id +
                            "\" class=\"btn btn-info btn-sm\" target=\"_blank\"><span class=\"glyphicon glyphicon-print\"/></span></a>" + del;


                    }
                }
            ]
        });
    });

</script>
<div class="container-fluid">
    <input type="hidden" id="setYear" th:value="${setYear}">

    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs nav-justified">
                <li role='presentation' th:each="year: ${years}" th:classappend="${setYear == year} ? active : ''">
                    <a class="seriesLink" th:href="@{/paymentsPage/{year}(year = ${year})}" th:text="${year}"> </a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <h3 th:text="'Платежи ' + ${setYear} + ' года'"></h3>
                    Общее количество: <span id="count" class="badge"></span>
                </div>
            </div>
            <table id="paymentTable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>
</html>