<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">
    $(document).ready(function () {

        $("#personForm").validate({
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    success: function (html) {
                        $(".cooperateTable").DataTable().ajax.reload(null, false);
                        showSuccessMessage(html);
                        closeForm();
                        return false;
                    }
                });
            },
            errorPlacement: function (error, element) {
                validPlaceError(error, element);
            },
            success: function (label, element) {
                validPlaceSuccess(label, element);
            }
        });

        $('#personForm input').tooltipster({
            trigger: 'custom',
            onlyOne: false,
            position: 'top'
        });

        $(".deleteAssign").popConfirm({
            title: "Вы хотите удалить назначение к этому гаражу?",
            content: "",
            placement: "right",
            yesBtn: "Да",
            noBtn: "Нет"
        });


    });

</script>
<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="panel-title" th:text="${type}"></h4>
    </div>
    <div class="panel-body">
        <form id="personForm" th:action="@{/savePerson}" th:object="${person}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="col-md-6">
                <div class="form-group input-group">
                    <label for="lastName" class="input-group-addon">Фамилия*</label>
                    <input type="text" th:field="*{lastName}" id="lastName"
                           class="required form-control"/>
                </div>
                <div class="form-group input-group">
                    <label for="name" class="input-group-addon">Имя*</label>
                    <input type="text" th:field="*{name}" id="name"
                           class="required form-control"/>
                </div>
                <div class="form-group input-group">
                    <label for="fatherName" class="input-group-addon">Отчество*</label>
                    <input type="text" th:field="*{fatherName}" id="fatherName"
                           class="required form-control"/>
                </div>
                <div class="form-group input-group">
                    <label for="telephone" class="input-group-addon">Телефон*</label>
                    <input type="text" th:field="*{telephone}" id="telephone"
                           class="required form-control"/>
                </div>
                <div class=" form-group input-group">
                    <label for="benefits" class="input-group-addon">Пенсионное удостоверение или другие льготы</label>
                    <input type="text" th:field="*{benefits}" id="benefits"
                           class="form-control"/>
                </div>
                <div class="form-group input-group">
                    <input type="checkbox" th:field="*{memberBoard}" id="memberBoard"
                           class="form-control"
                           name="fancy-checkbox-success" autocomplete="off"/>
                    <div class="[ btn-group ]">
                        <label for="memberBoard" class="[ btn btn-info ]">
                            <span class="[ glyphicon glyphicon-ok ]"></span>
                            <span> </span>
                        </label>
                        <label for="memberBoard" class="[ btn btn-default ]">
                            Член правления
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4> Адрес </h4>
                <div class="form-group input-group">
                    <label for="city" class="input-group-addon">Город</label>
                    <input type="text" th:field="*{city}" id="city"
                           class="form-control"/>
                </div>
                <div class="form-group input-group">
                    <label for="street" class="input-group-addon">Улица</label>
                    <input type="text" th:field="*{street}" id="street"
                           class="form-control"/>
                </div>
                <div class="form-group input-group">
                    <label for="home" class="input-group-addon">Дом</label>
                    <input type="text" th:field="*{home}" id="home"
                           class="form-control"/>
                </div>
                <div class="form-group input-group">
                    <label for="apartment" class="input-group-addon">Квартира</label>
                    <input type="text" th:field="*{apartment}" id="apartment"
                           class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <table class="table">
                        <tbody>
                        <tr th:each="garag : ${garags}">
                            <th><b>Гараж: </b> <p th:text="${garag.fullName}"></p></th>
                            <td>
                                <button class="btn btn-danger deleteAssign" th:value="${garag.id}"
                                        onclick="deleteAssign(this)">
                                    Удалить назначение
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align: center" class="col-md-12">
                <button id="buttonAdd" type="submit" class="btn btn-success buttonForm">
                    <span class="glyphicon glyphicon-ok"></span> Сохранить
                </button>
                <button type="reset" onclick="closeForm();" class="btn btn-danger buttonForm">
                    <span class="glyphicon glyphicon-remove"></span> Закрыть
                </button>
            </div>
        </form>
    </div>
</div>


